<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Base Rates", base_rates_path %> > Base Rate #<%= @base_rate.id %></h1>
      <%= link_to t("edit"), edit_base_rate_path(@base_rate), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Description</h5>
        <%= @base_rate.description %>
      </div>
          </div>
  </div>
</div>
