<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Offer Statuses", offer_statuses_path %> > Offer Status #<%= @offer_status.id %></h1>
      <%= link_to t("edit"), edit_offer_status_path(@offer_status), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Name</h5>
        <%= @offer_status.name %>
      </div>
          </div>
  </div>
</div>
